* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0;
}

.menu {
    position: fixed;
    width: 200px;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(99, 93, 93);
    transition: 850ms;
}

.menu li {
    border-bottom: 1px solid rgb(128, 126, 126);
    padding: 15px 10px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
}

.close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon {
    position: relative;
    display: flex;
    left: 80%;
}

