.footer {
    border-top: 1px solid rgb(83, 146, 182);
    margin-top: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-footer {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.footer li{
    list-style: none;
}

.footer a{
    margin-left: 75px;
    margin-right: 75px;
}