.listBox{
    margin: 20px 40% ;   
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    background-color: #F2F4F3;
    display: block;
}