*{
    text-decoration: none;
}
.listBox{
    margin: auto ;   
    margin-top: 5px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    background-color: #d1d8d8;
    display: flex ;
    align-items: center;
    justify-content: space-between
}
.listBox-icons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.listBox-icon {
    margin-left: 15px;
    size: 25px;
    cursor: pointer;
}

.listBox-sentence {
    width: 65%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    color: blue;
}