.menu-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 90px;
    left: 20px;
}

.dash-icon {
    width: 24px;
    height: 24px;
  }

