.menu-icon {
    height: 40px;
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.dash-icon {
    width: 24px;
    height: 24px;
}

